@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* *******************************************
Project Name: NR Tech Wifi Zone
Project Version: 1.0.0
Developer: Akram Hossain
URL: https://akram-hossain.github.io/ 
Theme First color: #F53838; 
Theme Second color: #fff;  
Theme Primary Font Family: "Inter", serif;
******************************************** */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        overflow-x: hidden;
    }

    body {
        @apply font-inter;
        overflow-x: hidden;
    }
    h1,h2,h3,h4,h5,h6{
        @apply font-rubik;
    }

    button,
    a,
    input {
        @apply focus-visible:outline-none;
    }

    .gradient-text-color {
        background: linear-gradient(90deg, #ED2C8F 0%, #FFF02F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .gradient-bg-one{
        background: linear-gradient(90deg, rgba(237, 45, 143, 0.2) 0%, rgba(255, 242, 46, 0.2) 27.8%, rgba(255, 242, 46, 0) 57.31%);
    }

    .common-para{
        @apply text-sm font-normal text-black;
    }

    .menu.active{
        @apply bg-deep text-white rounded-md anim hover:text-deep
    }

}

.anim {
    @apply transition duration-500 ease-in-out;
}

.about-bg{
    background-color: #FFF7EC;
    background: linear-gradient(180deg, #FFF7EC 0%, #FFF5EB 28.5%, #FEF4F3 69%, #FFE3F1 100%);
}
.footer-bg{
    background-color: #FFF7EC;
    background: linear-gradient(180deg, #FFF7EC 0%, #FFF5EB 28.5%, #fff 69%, #fff 100%);
}

.package-bg{
    background: linear-gradient(90deg, #FEEDF6 0%, #FFF7ED 100%);
}

.submit-bttn{
    background: linear-gradient(0deg, #25CF43 0%, #61FD7D 100%);

}

.tab.active {
    @apply !bg-deep !text-white
}

.tab-content {
    display: none; 
}
.tab-content.active {
    display: grid;
}


/* custom scrollbar css */
.whatsapp-bttn {
    background: linear-gradient(90deg, #25d366, #075e54, #25d366);
    background-size: 300% 100%;
    border: none;
    transition: all 0.3s ease-in-out;
    animation: GradientMove 5s infinite ease-in-out;
    box-shadow: inset 0 0 10px rgba(37, 211, 102, 0.8);
}

@keyframes GradientMove {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

/* custom responsive css */
@media (min-width: 320px) and (max-width: 640px) {}

@media (min-width: 641px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1290px) {}

@media (min-width: 1291px) {}