@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/* *******************************************
Project Name: NR Tech Wifi Zone
Project Version: 1.0.0
Developer: Akram Hossain
URL: https://akram-hossain.github.io/ 
Theme First color: #F53838; 
Theme Second color: #fff;  
Theme Primary Font Family: "Inter", serif;
******************************************** */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    html {
        overflow-x: hidden;
    }

    body {
        @apply font-inter;
        overflow-x: hidden;
    }
    h1,h2,h3,h4,h5,h6{
        @apply font-rubik;
    }

    button,
    a,
    input {
        @apply focus-visible:outline-none;
    }

    .gradient-text-color {
        background: linear-gradient(90deg, #ED2C8F 0%, #FFF02F 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .gradient-bg-one{
        background: linear-gradient(90deg, rgba(237, 45, 143, 0.2) 0%, rgba(255, 242, 46, 0.2) 27.8%, rgba(255, 242, 46, 0) 57.31%);
    }

    .common-para{
        @apply text-sm font-normal text-black;
    }

}

.anim {
    @apply transition duration-500 ease-in-out;
}

.about-bg{
    background-color: #FFF7EC;
    background: linear-gradient(180deg, #FFF7EC 0%, #FFF5EB 28.5%, #FEF4F3 69%, #FFE3F1 100%);
}
.footer-bg{
    background-color: #FFF7EC;
    background: linear-gradient(180deg, #FFF7EC 0%, #FFF5EB 28.5%, #fff 69%, #fff 100%);
}


/* custom responsive css */
@media (min-width: 320px) and (max-width: 640px) {}

@media (min-width: 641px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (max-width: 1290px) {}

@media (min-width: 1291px) {}